/* #region-common-rule */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--deep-black);
    
}
   

/* #endregion-common-rule */

/* #region-utility */

:root{
    --deep-black: #000000;
    --grey: #222222;
    --green: #4BC800;
    --red: #E01813;
    --white: #FFFFFF;
    --spacegray: #4A4A4A;
    
}

.btn-color{
    width: 120px;
    height: 30px;
}
    

    


/* #endregion-utility */






/* #region-header */

header{
    display: flex;
    /* justify-content: flex-end; */
    position: relative;
    flex-direction: row-reverse;
    
}
  
.speaker{
    display: flex;
    height: 33px;
    display: flex;
    height: 33px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 58px;
}


.speaker, .cross{
   background-color: var(--grey);
   
}

.speaker-view{
    color: var(--white);
    text-align: center;
    display: flex;
    height: 33px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}




.cross{
    width: 50px;
    height: 33px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}


/* #endregion-header */


/* #region-main */

main{
    margin-top: 30px;
    display: flex;
    flex-wrap: no-wrap
   
}


.raw1{
    display: flex;
    flex-direction: column;
    
}
    



.col1, .col2, .col3, .col4, .col5, .col6, .col7{
    width: 180px;
    height: 150px;
   
    margin-left: 34px;
    margin-bottom: 20px;
    
}

.raw2, .raw3, .raw4, .raw5, .col6{
    display: flex;
    flex-direction: column;
}

.col1{
    background-image:url(https://i.picsum.photos/id/0/5616/3744.jpg?hmac=3GAAioiQziMGEtLbfrdbcoenXoWAW-zlyEAMkfEdBzQ);
    background-size: cover;
}
.col2{
   background-image: url(https://i.picsum.photos/id/100/2500/1656.jpg?hmac=gWyN-7ZB32rkAjMhKXQgdHOIBRHyTSgzuOK6U0vXb1w);
   background-size: cover;
}



.col3{
    
    background-image: url(https://i.picsum.photos/id/10/2500/1667.jpg?hmac=J04WWC_ebchx3WwzbM-Z4_KC_LeLBWr5LZMaAkWkF68);
    background-size: cover;
}



.col4{
    background-image:url(https://i.picsum.photos/id/1002/4312/2868.jpg?hmac=5LlLE-NY9oMnmIQp7ms6IfdvSUQOzP_O3DPMWmyNxwo);
    background-size: cover;
    
}

.col5{
    background-image:url(https://i.picsum.photos/id/1016/3844/2563.jpg?hmac=WEryKFRvTdeae2aUrY-DHscSmZuyYI9jd_-p94stBvc);
    background-size: cover;
}

.col6{
    background-image: url(https://i.picsum.photos/id/1026/4621/3070.jpg?hmac=OJ880cIneqAKIwHbYgkRZxQcuMgFZ4IZKJasZ5c5Wcw);
    background-size: cover;
}

.col7{
   background-image: url(https://i.picsum.photos/id/1048/5616/3744.jpg?hmac=N5TZKe4gtmf4hU8xRs-zbS4diYiO009Jni7n50609zk);
   background-size: cover;
}

/* #endregion-main */


/* #region-footer */

footer{
    background-color: var(--grey);
    display: flex;
    height: 60px;
}

.mute{
    /* background-color: #4BC800; */
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    

}

i{
    color: var(--white);
}

.invite{
    width: 80%;
    /* background-color: deeppink; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.endmeeting{
    width: 10%;
    background-color: var(--spacegray);
    
}
    
    

h5{
    text-align: center;
    padding: 24px 0px;
    color: #E01813;
}

.absolute{
    position: absolute;
    bottom: -23px;
    left: 14px;
}
.mute{
    color: var(--white);
}

.stop{
    position: absolute;
    bottom: -23px;
    left: 46px;
    color: var(--white);
    padding-left: 24px;
}

.content{
    width: 450px;
    display: flex;
    justify-content: space-between;
}
